/*==========================================================================================================================================================
  Header CSS - Extracted from main.css
  This file contains all header-related styles including navigation, top bar, and mobile menu
==========================================================================================================================================================*/

/*  3.1 Header Style 1
/*----------------------------------------*/
/* Header Sticky on Scroll */
#header-sticky.header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  width: 100%;
  z-index: 999;
  visibility: visible;
  background-color: var(--tp-common-white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
  -khtml-animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
  -moz-animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
  -ms-animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
  -o-animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
  animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
}
#header-sticky.header-sticky .tp-header-menu nav ul li > a {
  padding: 25px 0;
}

/* Leader Name Styling */
.tp-leader-name {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid var(--tp-theme-1);
}
.tp-leader-name{
  display: flex;
  flex-direction: column;
}
.tp-leader-name .logoname{
  font-size: 25px;
  font-weight: 700;
  color: var(--tp-theme-2);
  margin: 0;
  font-family: var(--tp-ff-dmsans);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.tp-leader-name .surname{
  font-size: 25px;
  font-weight: 700;
  color: var(--tp-theme-1);
  margin: 0;
  font-family: var(--tp-ff-dmsans);
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-leader-name h3 {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .tp-leader-name {
    display: none;
  }
}

/* Logo and name alignment */
.tp-header-logo {
  display: flex;
  align-items: center;
}
.tp-header-logo img {
  max-height: 60px;
  transition: max-height 0.3s ease;
}

.tp-header-top__space {
  padding: 7px 85px;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .tp-header-top__space {
    padding: 7px 30px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-header-top__space {
    padding: 7px 0px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-header-top__space {
    padding: 7px 0px;
  }
}
.tp-header-top__left-info ul li {
  display: inline-block;
  margin-right: 40px;
}
.tp-header-top__left-info ul li i {
  color: var(--tp-theme-1);
  margin-right: 10px;
  display: inline-block;
  transform: translateY(3px);
}
.tp-header-top__left-info ul li a {
  font-size: 14px;
  font-weight: 400;
  color: var(--tp-common-white);
}
.tp-header-top__left-info ul li a:hover {
  color: var(--tp-theme-1);
}
.tp-header-top__right-social a:first-child {
  margin-left: 30px;
}
.tp-header-top__right-social a {
  color: var(--tp-common-white);
  margin-left: 20px;
}
.tp-header-top__right-social a:hover {
  color: #e67850;
}
.tp-header-top__right-info span {
  color: var(--tp-common-white);
  font-size: 14px;
  display: inline-block;
}
.tp-header-top__right-info span em {
  margin: 0px 15px;
}
.tp-header-top-space-3 {
  padding: 7px 0px;
}

.tp-header-plr {
  padding: 0px 85px;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .tp-header-plr {
    padding: 0 30px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-header-plr {
    padding: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-header-plr {
    padding: 15px 0;
  }
}

.tp-header-menu {
  text-align: center;
}
.tp-header-menu nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tp-header-menu nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0px 20px;
  position: relative;
  text-transform: uppercase;
}
@media only screen and (min-width: 1600px) and (max-width: 1700px) {
  .tp-header-menu nav ul li {
    margin: 0px 18px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .tp-header-menu nav ul li {
    margin: 0px 15px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-header-menu nav ul li {
    margin: 0px 18px;
  }
}
.tp-header-menu nav ul li > .submenu {
  position: absolute;
  width: 240px;
  z-index: 999;
  padding: 30px 0px;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  text-align: left;
  margin-left: 0;
  transition-duration: 0.1s;
  transform-origin: top;
  -webkit-transform: perspective(300px) rotateX(-18deg);
  -moz-transform: perspective(300px) rotateX(-18deg);
  -ms-transform: perspective(300px) rotateX(-18deg);
  -o-transform: perspective(300px) rotateX(-18deg);
  transform: perspective(300px) rotateX(-18deg);
  background-color: var(--tp-common-white);
  border-top: 7px solid var(--tp-theme-1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.tp-header-menu nav ul li > .submenu > li {
  margin: 0;
  display: block;
  margin-bottom: 10px;
  padding: 0 35px;
}
.tp-header-menu nav ul li > .submenu > li:last-child {
  margin-bottom: 0;
}
.tp-header-menu nav ul li > .submenu > li > a {
  padding: 0;
  margin: 0;
  display: inline-block;
  text-transform: capitalizes;
  font-size: 14px;
  color: var(--tp-common-black);
  position: relative;
  letter-spacing: 1px;
  font-weight: 500;
}
.tp-header-menu nav ul li > .submenu > li > a:hover {
  color: var(--tp-theme-1);
}
.tp-header-menu nav ul li > .submenu > li .submenu {
  left: 100%;
  top: 0;
}
.tp-header-menu nav ul li > a {
  font-size: 16px;
  font-weight: 500;
  color: var(--tp-grey-2);
  padding: 25px 0;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.tp-header-menu nav ul li > a i {
  font-size: 18px;
  transition: all 0.3s ease;
  color: var(--tp-theme-1);
}
.tp-header-menu nav ul li > a:hover i {
  transform: scale(1.1);
}
.tp-header-menu nav ul li > a span {
  display: inline-block;
  color: var(--tp-theme-2);
  /* font-weight: 500; */
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .tp-header-menu nav ul li > a {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-header-menu nav ul li > a {
    font-size: 14px;
  }
}
.tp-header-menu nav ul li > a.active {
  color: var(--tp-theme-1);
}
.tp-header-menu nav ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  transition-duration: 0.2s;
  -webkit-transform: perspective(300px) rotateX(0deg);
  -moz-transform: perspective(300px) rotateX(0deg);
  -ms-transform: perspective(300px) rotateX(0deg);
  -o-transform: perspective(300px) rotateX(0deg);
  transform: perspective(300px) rotateX(0deg);
}
.tp-header-menu nav ul li:hover > a {
  color: var(--tp-theme-1);
}
@media only screen and (min-width: 1600px) and (max-width: 1700px) {
  .tp-header-right-action {
    margin-left: -30px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .tp-header-right-action {
    margin-left: -60px;
  }
}

.tp-header-right-tel-icon {
  margin-left: 30px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-header-right-tel-icon {
    margin-left: 20px;
  }
}
.tp-header-right-tel-icon i {
  margin-right: 15px;
  height: 50px;
  width: 50px;
  line-height: 59px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color: var(--tp-theme-2);
  background-color: var(--tp-grey-3);
  font-size: 22px;
}
.tp-header-right-tel-content span {
  font-size: 16px;
  font-weight: 400;
  color: var(--tp-theme-2);
  display: block;
}
.tp-header-right-tel-content a {
  font-size: 16px;
  font-weight: 700;
  color: var(--tp-theme-2);
}
.tp-header-right-tel-content a:hover {
  color: var(--tp-theme-1);
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .tp-header-right-tel-content a {
    font-size: 14px;
  }
}
.tp-header-right-search button i {
  font-size: 23px;
  color: var(--tp-common-black);
}
.tp-header-right-btn {
  margin-left: 30px;
  line-height: 0;
}
.tp-header-bar button {
  font-size: 22px;
  font-weight: 700;
  height: 50px;
  width: 50px;
  color: var(--tp-theme-2);
  border: 1px solid var(--tp-theme-1);
  margin-left: 10px;
}

/* Header menu home dropdown */
.tp-header-menu nav ul li .has-homemenu {
  width: 810px;
  padding: 30px 30px 10px 30px;
  opacity: 0;
  visibility: hidden;
  background-color: var(--tp-common-white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.tp-header-menu nav ul li .has-homemenu .homemenu {
  padding: 0px 10px;
  position: relative;
  margin-bottom: 20px;
}

.homemenu-btn {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

.homemenu-title {
  font-size: 18px;
  margin-bottom: 0;
  display: inline-block;
  font-weight: 500;
  color: var(--tp-theme-2);
  font-family: var(--tp-ff-dmsans);
}
.homemenu-title:hover {
  color: var(--tp-theme-1);
}

.homemenu-thumb {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.homemenu-thumb:hover .homemenu-btn {
  opacity: 1;
  visibility: visible;
  bottom: 50%;
  transform: translateY(50%);
}



/*----------------------------------------*/
/*  Responsive Header & Mobile Sidebar
/*----------------------------------------*/

/* Custom breakpoint for hiding menu at 1000px */
@media (max-width: 1200px) {
  .d-custom-block {
    display: none !important;
  }
}

@media (min-width: 1201px) {
  .d-custom-block {
    display: block !important;
  }
}

/* Leader Name - Always Visible */
.tp-leader-name {
  display: flex !important;
  flex-direction: column;
  margin-left: 15px;
  padding-left: 15px;
  border-left: 2px solid var(--tp-theme-1);
}

@media (max-width: 575px) {
  .tp-leader-name .logoname,
  .tp-leader-name .surname {
    font-size: 18px;
  }
  .tp-header-logo img {
    max-height: 45px;
  }
}

@media (max-width: 400px) {
  .tp-leader-name .logoname,
  .tp-leader-name .surname {
    font-size: 16px;
  }
  .tp-leader-name {
    margin-left: 10px;
    padding-left: 10px;
  }
}

/* Mobile Menu Button */
.tp-header-mobile-menu-btn {
  display: none;
  margin-left: 15px;
}

@media (max-width: 1200px) {
  .tp-header-mobile-menu-btn {
    display: block;
  }
}

/* Contact Button - Show on tablet and above (>768px) */
.tp-header-right-btn {
  margin-right: 10px;
}

@media (min-width: 769px) and (max-width: 1000px) {
  /* Show both contact button and sidebar icon on tablet */
  .tp-header-right-btn {
    display: block !important;
  }
}

@media (max-width: 768px) {
  /* Hide contact button on mobile */
  .tp-header-right-btn {
    display: none !important;
  }
}

.tp-mobile-menu-toggle {
  background: var(--tp-theme-2);
  color: var(--tp-common-white);
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
}

.tp-mobile-menu-toggle:hover {
  background: var(--tp-theme-1);
  transform: scale(1.05);
}

@media (max-width: 575px) {
  .tp-mobile-menu-toggle {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
}

/*----------------------------------------*/
/*  Modern Mobile Sidebar
/*----------------------------------------*/
.tp-mobile-sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 350px;
  height: 100vh;
  background: linear-gradient(135deg, var(--tp-theme-2) 0%, #0a2a27 100%);
  z-index: 9999;
  transition: right 0.3s ease;
  overflow-y: auto;
  box-shadow: -5px 0 25px rgba(0, 0, 0, 0.3);
}

.tp-mobile-sidebar.active {
  right: 0;
}

@media (max-width: 400px) {
  .tp-mobile-sidebar {
    width: 300px;
  }
}

.tp-mobile-sidebar-wrapper {
  padding: 30px 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Sidebar Header */
.tp-mobile-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.tp-mobile-sidebar-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tp-mobile-sidebar-logo img {
  max-height: 50px;
  width: auto;
}

.tp-mobile-leader-name {
  display: flex;
  flex-direction: column;
}

.mobile-logoname,
.mobile-surname {
  font-size: 18px;
  font-weight: 700;
  font-family: var(--tp-ff-dmsans);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
}

.mobile-logoname {
  color: var(--tp-common-white);
}

.mobile-surname {
  color: var(--tp-theme-1);
}

.tp-mobile-sidebar-close {
  background: rgba(255, 255, 255, 0.1);
  color: var(--tp-common-white);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
}

.tp-mobile-sidebar-close:hover {
  background: var(--tp-theme-1);
  transform: rotate(90deg);
}

/* Sidebar Menu */
.tp-mobile-sidebar-menu {
  flex: 1;
  margin-bottom: 30px;
}

.tp-mobile-sidebar-menu nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tp-mobile-sidebar-menu nav ul li {
  margin-bottom: 5px;
}

.tp-mobile-menu-link {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 20px;
  color: var(--tp-common-white);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.tp-mobile-menu-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.1), transparent);
  transition: left 0.5s ease;
}

.tp-mobile-menu-link:hover::before {
  left: 100%;
}

.tp-mobile-menu-link:hover {
  background: rgba(230, 120, 80, 0.2);
  transform: translateX(10px);
  color: var(--tp-theme-1);
}

.tp-mobile-menu-link i {
  font-size: 18px;
  width: 25px;
}

/* Sidebar Contact Button */
.tp-mobile-sidebar-contact {
  margin-bottom: 30px;
}

.tp-mobile-contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 30px;
  background: var(--tp-theme-1);
  color: var(--tp-common-white);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px;
  transition: all 0.3s ease;
  border: 2px solid var(--tp-theme-1);
}

.tp-mobile-contact-btn:hover {
  background: transparent;
  color: var(--tp-theme-1);
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(230, 120, 80, 0.3);
}

/* Sidebar Info */
.tp-mobile-sidebar-info {
  margin-bottom: 25px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.tp-mobile-info-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 15px;
  color: var(--tp-common-white);
  font-size: 13px;
  line-height: 1.6;
}

.tp-mobile-info-item:last-child {
  margin-bottom: 0;
}

.tp-mobile-info-item i {
  font-size: 16px;
  color: var(--tp-theme-1);
  margin-top: 2px;
  flex-shrink: 0;
}

/* Sidebar Social */
.tp-mobile-sidebar-social {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 20px;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.tp-mobile-sidebar-social a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  color: var(--tp-common-white);
  border-radius: 50%;
  font-size: 16px;
  transition: all 0.3s ease;
}

.tp-mobile-sidebar-social a:hover {
  background: var(--tp-theme-1);
  transform: translateY(-5px) rotate(360deg);
}

/* Sidebar Overlay */
.tp-mobile-sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9998;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
}

.tp-mobile-sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Scrollbar Styling for Sidebar */
.tp-mobile-sidebar::-webkit-scrollbar {
  width: 6px;
}

.tp-mobile-sidebar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

.tp-mobile-sidebar::-webkit-scrollbar-thumb {
  background: var(--tp-theme-1);
  border-radius: 10px;
}

.tp-mobile-sidebar::-webkit-scrollbar-thumb:hover {
  background: var(--tp-common-white);
}
